.button {
  margin-top: 5px;
  border: 1px solid #282c34;
  border-radius: 30px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  background-color: #282c34;
  padding: 10px;
  min-width: 160px;
}
